.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;

    z-index: 999999;
    background: #f0f0f7d3;
    /*rgba(160, 2, 252, 0.7);*/
}

.loading div{
    width: 5rem;
    height: 5rem;

    position: relative;
    border-radius: 50%;

    border: 0.7rem solid var(--color-primary-lighter);
    
    border-top-color: var(--color-primary);
    animation: spin 1s infinite linear;
}

@keyframes spin {
    100% {
      transform: rotate(360deg);
    }
}

.loading p{
    margin-top: 0.5rem;
    color: black;
}

